.input {
  width: 100%;
  max-width: 220px;
  padding: 6px 8px;
  border-radius: 3px;
  color: var(--secondary-color);
  background-color: var(--primary-color);
  margin: 0 0.5em 0.5em 0;
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
  border: 2px solid var(--secondary-color);
  cursor: pointer;
  font-family: var(--main-font);
  &::placeholder {
    color: inherit;
    font-weight: inherit;
  }
  &:focus {
    outline: 2px solid var(--success-color);
  }
}
