.input {
  width: 100%;
  max-width: 280px;
  padding: 10px 12px;
  border-radius: 12px;
  color: var(--color-5);
  background-color: var(--color-1);
  text-transform: uppercase;
  font-size: 1.1em;
  font-weight: 700;
  border: 2px solid var(--color-3);
  cursor: pointer;
  font-family: var(--main-font);
  outline: none;
}

.input::placeholder {
  color: inherit;
  font-weight: inherit;
}

.input:focus {
  border-color: var(--success-color);
  background-color: var(--color-1);
  color: var(--color-5);
}
