.input {
  width: 100%;
  max-width: 165px;
  padding: 10px 12px;
  border-radius: 12px;
  color: var(--color-5);
  background-color: var(--color-1);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  border: 2px solid var(--color-3);
  cursor: pointer;
  font-family: var(--main-font);
  outline: none;
  opacity: 0.8;
}

.input::placeholder {
  color: inherit;
  font-weight: inherit;
}

.input:focus {
  border-color: var(--success-color);
  background-color: var(--color-1);
  color: var(--color-5);
}

.input:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (min-width: 400px) {
  .input {
    max-width: 180px;
  }
}
@media screen and (min-width: 768px) {
  .input {
    max-width: 220px;
    font-size: 1.1em;
  }
}
