/* Global styles */
:root {
  --main-font: 'Smooch Sans';
  --primary-color: #f8f9fa;
  --secondary-color: #212529;
  --grey-color: #cacaca;
  --success-color: #00a36c;
  --color-1: #0f6e8f;
  --color-2: #2d809d;
  --color-3: #4b92ab;
  --color-4: #69a4b9;
  --color-5: #87b6c7;
  --color-6: #a5c9d5;
  --color-7: #c3dbe3;
  --color-8: #e1edf1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--main-font), 'Lucida Sans', 'Lucida Sans Regular',
    'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  font-weight: 400;
  font-size: 1em;
  line-height: 1.6;
  background-color: var(--color-1);
  color: var(--color-8);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.2;
  margin: 0 0 0.25em;
  padding: 0;
}

h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.5em;
}
h3 {
  font-size: 1.25em;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  font-family: inherit;
  cursor: pointer;
}
