.listHeader {
  width: 100%;
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 8px;
  margin: 1em auto 0;
  padding: 0 0.5em;
  position: absolute;
  bottom: 0.5em;
  z-index: 1001;
}

.error {
  position: absolute;
  bottom: calc(4.5em + 44px);
  left: 18px;
  right: 18px;
  width: calc(100vw - 36px);
  max-width: 460px;
  padding: 10px 0.5em;
  box-sizing: border-box;
  text-align: center;
  color: var(--error-color);
  background-color: var(--error-bg);
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 12px;
  border: 2px solid var(--error-bd);
  z-index: 1001;
}

.mapRow {
  display: flex;
  flex-direction: column;
  width: 100%;
  flex: 1;
  position: relative;
}

@media screen and (min-width: 768px) {
  .error {
    bottom: auto;
    top: calc(1em + 44px + 16px);
    margin-left: calc((100vw - 460px) / 2);
  }
  .listHeader {
    padding: 0 2em;
    bottom: auto;
    gap: 16px;
    top: 0;
    left: 0;
    right: 0;
    margin: 1em auto;
  }
}
