.select {
  font-family: var(--main-font);
  width: 100%;
  max-width: 165px;
  padding: 9px 12px;
  border-radius: 12px;
  background-color: var(--color-1);
  border: 2px solid var(--color-3);
  color: var(--color-5);
  text-transform: uppercase;
  font-size: 1em;
  font-weight: 700;
  cursor: pointer;
  outline: none;
}

.select:focus {
  border-color: var(--success-color);
}

@media screen and (min-width: 400px) {
  .select {
    max-width: 180px;
  }
}

@media screen and (min-width: 768px) {
  .select {
    width: 100%;
    max-width: 280px;
    font-size: 1.1em;
  }
}
