.button {
  width: 100%;
  max-width: 220px;
  background-color: var(--color-1);
  border: 2px solid var(--color-3);
  color: var(--color-5);
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  font-size: 1.1em;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  border-color: var(--success-color);
}
