.button {
  width: 100%;
  max-width: 165px;
  background-color: var(--color-1);
  border: 2px solid var(--color-3);
  color: var(--color-5);
  padding: 10px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
  border-radius: 12px;
  font-size: 0.95rem;
  font-weight: 700;
  text-transform: uppercase;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.button:hover {
  border-color: var(--success-color);
}

.button svg {
  width: 15px;
  height: 15px;
}

@media screen and (max-width: 767px) {
  .button {
    max-width: none;
    flex: 1;
    padding: 10px 8px;
    font-size: 0.7rem;
    gap: 4px;
  }
  .label {
    display: none;
  }
  .button svg {
    width: 18px;
    height: 18px;
  }
}

@media screen and (min-width: 400px) and (max-width: 767px) {
  .button {
    font-size: 0.75rem;
  }
}

@media screen and (min-width: 768px) {
  .button {
    font-size: 1.1rem;
  }
}
