.locationInfo {
  width: 100%;
  max-width: 95vw;
  padding: 0.5em;
  text-align: center;
  color: var(--color-5);
  margin: 0 auto;
  background-color: rgba(37, 66, 82, 0.9);
  border-radius: 1em;
  box-shadow: 2px 2px 3px 2px var(--color-2);
  position: absolute;
  bottom: 0.5em;
  left: 0;
  right: 0;
  z-index: 1000;
}

.locationInfo p {
  font-size: 1rem;
}

.locationInfo span {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .locationInfo {
    max-width: 960px;
  }
  .locationInfo p {
    font-size: 1.3rem;
  }
}
