.locationInfo {
  width: 100%;
  max-width: 960px;
  padding: 0.5em;
  text-align: center;
  color: var(--color-5);
  margin: 0 1em;
  background-color: rgba(37, 66, 82, 0.9);
  border-radius: 1em;
  box-shadow: 2px 2px 3px 2px var(--color-2);
  order: -1;
}

.locationInfo p {
  font-size: 1rem;
}

.locationInfo span {
  font-weight: 700;
}

@media screen and (min-width: 768px) {
  .locationInfo {
    order: 4;
    padding: 1em;
  }
  .locationInfo p {
    font-size: 1.3rem;
  }
}
