.preFooter {
  width: 100%;
  background-color: var(--color-6);
  margin: 2.5em 0 0;
}
.preFooter .seoText__inner {
  max-width: 960px;
  margin: 0 auto;
  padding: 2.5em 1em 1em;
}
.preFooter .seoText__inner h2,
.preFooter .seoText__inner h3,
.preFooter .seoText__inner h4 {
  margin: 1em 0 0.5em;
}
.preFooter .seoText__inner h2 {
  margin-top: 0;
}
.preFooter .seoText__inner p {
  margin: 0 0 1em;
}
.preFooter .seoText__inner svg {
  width: 25px;
  height: 25px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.preFooter .seoText__inner li {
  display: flex;
  align-items: center;
  margin: 0 0 0.25em;
}
.preFooter .seoText__inner li svg {
  margin-right: 0.25em;
}
